.inputIcons {
    /*
  .right-icon {
    position: absolute;
    top: 4px;
    right: 2px;
    left: auto;
    margin-top: 0;
  }
    */ }
.inputIcons .inputIconDemo {
    min-height: 48px; }
.inputIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
.inputIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
.inputIcons md-input-container.md-input-invalid > md-icon.email,
.inputIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }


.buttondemoBasicUsage section {
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
    margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px; }

.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
}

.file_input {
    float: left;
}

#file_input_text_div {
    margin-left: 5px;
}

th:focus,
a:focus {
  outline: none; }

.codepen-wrap {
  margin-top: 15px; }

.mdl-data-table {
  width: 100%; }
  .mdl-data-table th {
    cursor: pointer; }

.mdl-data-table tr {
  transition: none !important; }

th md-select {
  margin: 0; }

.md-errors-spacer {
  display: none; }

ul.pagination {
  padding: 0;
  font-size: 0;
  display: inline-block; }
  .pagination > li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    border: 1px solid #ddd;
    border-left: 0; }
    .pagination > li:first-child {
      border-left: 1px solid #ddd;
      border-radius: 2px 0 0 2px; }
    .pagination > li:last-child {
      border-radius: 0 2px 2px 0; }
  .pagination a {
    color: #444;
    font-size: 13px;
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none; }
  .pagination .active {
    border-color: #3f51b5; }
    .pagination .active a {
      color: #fff; }
  .pagination-page.active {
    background: #3f51b5; }
    .pagination-page.active a {
      color: #fff; }

.material-icons, .sortable span:before, .sortable span:after {
  font-family: 'Material Icons';
  font-size: 18px;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.sortable span {
  position: relative; }
  .sortable span:before {
    content: 'arrow_drop_down';
    position: absolute;
    right: -18px;
    top: -2px; }
  .sortable span:after {
    content: 'arrow_drop_up';
    position: absolute;
    right: -18px;
    top: -9px; }

.sortable.sort-ascent span:before {
  display: none; }

.sortable.sort-ascent span:after {
  top: -5px; }

.sortable.sort-descent span:before {
  top: -5px; }

.sortable.sort-descent span:after {
  display: none; }

.menudemoBasicUsage .md-menu-demo {
  padding: 24px; }

.menudemoBasicUsage .menu-demo-container {
  min-height: 200px; }

.animate-enter {
   -webkit-transition: 1s linear all; /* Chrome */
   transition: 1s linear all;
   opacity: 0;
}
.animate-enter.animate-enter-active {
   opacity: 1;
}